*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 80%;
  height: 1000px;
}

[class^=col-]{
  float: left;
  padding: 0 1em;
}

[class^=col-]:after{
  content: "";
  display: table;
  clear: both;
}

body.debug div{
  height: 100px;
}

.row-mt1{
  margin-top: 1em;
}

.col-100{
  width: 100%;
}

.bg-pink{
  background-color: pink;
}

.bg-yellow{
  background-color: yellow;
}

/* .blu{
  height: 100px;
} */

.bg-lightblue{
  background-color: lightblue;
}

.bg-cyan{
  background-color: cyan;
}

.col-50{
  float: left;
  width: 50%;
}

.col-25{
  float: left;
  width: 25%;
}
